@import "compass";

$base-spacing-unit: 3px;
$border-color: #aaa;
$shadow-color: rgba(0, 0, 0, 0.2);
$background-color: #fdfdfd;
$icon-spacing: 5px;

@import "icon/*.png";
@include all-icon-sprites(true);

.icon-sprite {
  display: inline-block;
}


.selectr-wrap {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  &.selectr-open {
    .selectr-toggle {


      cursor: default;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0;
      @include background-image(linear-gradient(#eee 20%, $background-color 80%));
      span {
        border-top: 1px solid $background-color;
        border-bottom: 1px solid $background-color;
      }
    }
  }
}

.selectr-results {
  width: 100%;
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
  .selectr-item {
    width: 100%;
    @include box-sizing(border-box);
    &:hover {
      background: dodgerblue;
      button {
        color: #fff;
      }
    }
    button {
      border: 0;
      background: none;
      padding: 7px 6px;
      margin: 0;
      width: 100%;
      display: block;
      text-align: left;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
}

.selectr-drop {
  position: absolute;
  @include box-sizing(border-box);
  @include box-shadow(0 3px 5px $shadow-color);
  width: 100%;
  padding: $base-spacing-unit;
  display: none;
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  .selectr-search {
    margin: 0 1% $base-spacing-unit;
  }
}
.selectr-search {
  width: 98%;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: $base-spacing-unit;
  @include box-sizing(border-box);
//  &:focus {
//    outline: none;
//  }
}
.selectr-toggle {
  @include background-image(linear-gradient($background-color 20%, #eee 80%));
  //  -webkit-appearance: menulist; // interesting idea...
  @include box-sizing(border-box);
  padding: 0;
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid $border-color;
  border-radius: 3px;
  cursor: pointer;
  span {
    border-top: 1px solid $background-color;
    border-bottom: 1px solid #eee;
    @include border-radius(1px);
    padding: 5px 6px 3px;
    display: block;
    font: {
      size: 12px;
    }
    text-shadow: 1px 1px 1px #fff;
  }

  div {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    i {
      @extend .icon-default !optional;
      background-size: 100%;
      width: 7px;
      height: 17px;
      top: 7px;
      position: relative;
      right: 8px;

    }

  }
}

.selectr-selections {
  margin: 0;
  padding: 0;
  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {
    @extend .selectr-toggle;
  }
  .selectr-ms-input {
    background: transparent;
    border: 0;
    &:focus {
      outline: none;
    }
  }
}