/* line 42, icon/*.png */
.icon-sprite, .icon-default, .selectr-toggle div i, .selectr-selections ul div i {
  background: url('images/icon-se0d084380d.png') no-repeat;
}

/* line 60, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-default, .selectr-toggle div i, .selectr-selections ul div i {
  background-position: 0 0;
  height: 22px;
  width: 13px;
}

/* line 12, Selectr.scss */
.icon-sprite, .icon-default, .selectr-toggle div i, .selectr-selections ul div i {
  display: inline-block;
}

/* line 16, Selectr.scss */
.selectr-wrap {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 22, Selectr.scss */
.selectr-wrap.selectr-open .selectr-toggle, .selectr-wrap.selectr-open .selectr-selections ul, .selectr-selections .selectr-wrap.selectr-open ul {
  cursor: default;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #fdfdfd));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #fdfdfd 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #fdfdfd 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #fdfdfd 80%);
  background-image: linear-gradient(#eeeeee 20%, #fdfdfd 80%);
}
/* line 29, Selectr.scss */
.selectr-wrap.selectr-open .selectr-toggle span, .selectr-wrap.selectr-open .selectr-selections ul span, .selectr-selections .selectr-wrap.selectr-open ul span {
  border-top: 1px solid #fdfdfd;
  border-bottom: 1px solid #fdfdfd;
}
/* line 36, Selectr.scss */
.selectr-wrap.selectr-multiple .selectr-item.selectr-selected {
  background: transparent;
}
/* line 38, Selectr.scss */
.selectr-wrap.selectr-multiple .selectr-item.selectr-selected button {
  color: #aaa;
}

/* line 44, Selectr.scss */
.selectr-results {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
/* line 55, Selectr.scss */
.selectr-results .selectr-label {
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 62, Selectr.scss */
.selectr-results.no-results .selectr-item {
  padding: 7px 6px;
}
/* line 64, Selectr.scss */
.selectr-results.no-results .selectr-item:hover {
  background: transparent;
  color: #333;
}
/* line 70, Selectr.scss */
.selectr-results .selectr-item {
  position: relative;
  width: 100%;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 75, Selectr.scss */
.selectr-results .selectr-item:hover, .selectr-results .selectr-item.selectr-active {
  background: dodgerblue;
}
/* line 77, Selectr.scss */
.selectr-results .selectr-item:hover button, .selectr-results .selectr-item.selectr-active button {
  color: #fff;
}
/* line 81, Selectr.scss */
.selectr-results .selectr-item.selectr-disabled {
  background: transparent;
}
/* line 83, Selectr.scss */
.selectr-results .selectr-item.selectr-disabled button {
  color: #aaa;
}
/* line 86, Selectr.scss */
.selectr-results .selectr-item.selectr-disabled:hover {
  background: transparent;
}
/* line 88, Selectr.scss */
.selectr-results .selectr-item.selectr-disabled:hover button {
  color: #aaa;
}
/* line 93, Selectr.scss */
.selectr-results .selectr-item button {
  border: 0;
  background: none;
  padding: 7px 6px;
  margin: 0;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
}
/* line 102, Selectr.scss */
.selectr-results .selectr-item button:focus {
  outline: none;
}
/* line 105, Selectr.scss */
.selectr-results .selectr-item button b {
  font-weight: bold;
  text-decoration: underline;
}
/* line 111, Selectr.scss */
.selectr-results .selectr-item.selectr-disabled button {
  color: #aaa;
  cursor: default;
}

/* line 118, Selectr.scss */
.selectr-drop {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 3px;
  display: none;
  background: #fdfdfd;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}
/* line 131, Selectr.scss */
.selectr-drop .selectr-search {
  margin: 0 1% 3px;
}

/* line 135, Selectr.scss */
.selectr-search {
  width: 98%;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 142, Selectr.scss */
.selectr-search:focus {
  outline: none;
}

/* line 146, Selectr.scss */
.selectr-toggle, .selectr-selections ul {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #fdfdfd), color-stop(80%, #eeeeee));
  background-image: -webkit-linear-gradient(#fdfdfd 20%, #eeeeee 80%);
  background-image: -moz-linear-gradient(#fdfdfd 20%, #eeeeee 80%);
  background-image: -o-linear-gradient(#fdfdfd 20%, #eeeeee 80%);
  background-image: linear-gradient(#fdfdfd 20%, #eeeeee 80%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  cursor: pointer;
}
/* line 157, Selectr.scss */
.selectr-toggle span, .selectr-selections ul span {
  border-top: 1px solid #fdfdfd;
  border-bottom: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 6px 3px;
  display: block;
  font-size: 12px;
  text-shadow: 1px 1px 1px #fff;
}
/* line 169, Selectr.scss */
.selectr-toggle div, .selectr-selections ul div {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
}
/* line 175, Selectr.scss */
.selectr-toggle div i, .selectr-selections ul div i {
  background-size: 100%;
  width: 7px;
  height: 17px;
  top: 7px;
  position: relative;
  right: 8px;
}

/* line 188, Selectr.scss */
.selectr-selections {
  margin: 0;
  padding: 0;
}
/* line 191, Selectr.scss */
.selectr-selections ul, .selectr-selections li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 196, Selectr.scss */
.selectr-selections ul {
  *zoom: 1;
  background: transparent;
}
/* line 38, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.selectr-selections ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 201, Selectr.scss */
.selectr-selections li {
  float: left;
}
/* line 204, Selectr.scss */
.selectr-selections .selectr-ms-search {
  background: transparent;
  border: 0;
  padding: 6px 8px;
}
/* line 208, Selectr.scss */
.selectr-selections .selectr-ms-search:focus {
  outline: none;
}

/* line 213, Selectr.scss */
.selectr-hidden {
  display: none;
}
