/* line 4, Selectr.scss */
.selectr-wrap {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
/* line 10, Selectr.scss */
.selectr-wrap.selectr-open .selectr-toggle {
  cursor: default;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

/* line 19, Selectr.scss */
.selectr-results {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
/* line 30, Selectr.scss */
.selectr-results .selectr-item {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 33, Selectr.scss */
.selectr-results .selectr-item:hover {
  background: dodgerblue;
}
/* line 35, Selectr.scss */
.selectr-results .selectr-item:hover button {
  color: #fff;
}
/* line 39, Selectr.scss */
.selectr-results .selectr-item button {
  border: 0;
  background: none;
  padding: 5px 6px;
  margin: 0;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
}
/* line 48, Selectr.scss */
.selectr-results .selectr-item button:focus {
  outline: none;
}

/* line 55, Selectr.scss */
.selectr-drop {
  padding: 3px;
  display: none;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}
/* line 64, Selectr.scss */
.selectr-drop .selectr-search {
  margin-bottom: 3px;
}

/* line 68, Selectr.scss */
.selectr-search {
  width: 100%;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 76, Selectr.scss */
.selectr-toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px 3px;
  display: block;
  width: 100%;
  margin: 0;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
}
/* line 87, Selectr.scss */
.selectr-toggle span {
  padding: 3px;
  display: inline-block;
  font-size: 12px;
}
